.btn__clear {
  position: absolute;
  right: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
  border: none;
  font-family: inherit;
  font-weight: 600;
  margin: 0.5rem;
}
